p{
    font-family: $font-secondary;
}
h1{
    font-family: $font-primary;
}

.navigation{
    &__links{
        list-style: none;
    }
}

.logo{
    color: $color-primary;
    font-size: 3rem;
    & p {
        font-family: $font-logo;
    }
}