$font-primary: 'Ropa sans', sans-serif;
$font-secondary: 'Share Tech', sans-serif;
$font-logo: 'Damion', serif;
$color-primary: #28A7DD;
$color-primary-dark: #208CBB;
$color-primary-extra-dark: #112A46;
$color-green: #00B37D;
$color-orange: #EF7560;
$color-grey-dark: #3A4856;
$color-grey-light: #9EADBD;
$color-grey-extra-light: #E8E8E8;
$color-white: #fff;
// gradiant hex numbers
// 5FBCFF
// 00D3FF
// 00E5E8
// 4CF3BE
// A8F990
// F9F871