<%- include("../partials/header.ejs") %>
    <div class="landing">

    </div>
    <div class="container">
        <nav class="navigation">

            <div class="logo">
                <p>B</p>
            </div>
            <ul class="navigation__links">
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li>Contact</li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="about about__alt">

        </div>
        <div class="about">

        </div>
    </div>
<%- include("../partials/footer.ejs") %>