<%- include("../partials/header.ejs") %>
    <div class="landing">
        <video autoplay muted loop id="landingVideo">
            <source src="/assets/videos/waves-video.mp4" type="video/mp4">
        </video>
        <div class="landing__content">
            <h1 class="heading__secondary heading__jumbo u-color-orange u-center-text">Brian Leighton</h1>
            <p class="sub-heading u-center-text">
                A Nova Scotia based front-end developer with a passion
                for clean interfaces and clear user experiences.
            </p>
        </div>
        <a href="#about" class="landing__arrow"><div></div></a>
    </div>
    <div class="container">
        <nav class="navigation">
            <div class="logo">
                <p>B</p>
            </div>
            <ul class="navigation__links">
                <li id="about-link"><a href="#about">About</a></li>
                <li id="projects-link"><a href="#projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li id="contact-link"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <main class="about" id="about" role="main">
            <h3 id="about-anchor">About</h3>
            <aside>
                <div class="card-skills">
                    <div class="card-skills__icon">
                        <div class="hexagon">
                            <svg class="icon">
                                <use href="/assets/SVG/sprite.svg#icon-responsive"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="card-skills__content">
                        <h2 class="heading">Responsive</h2>
                        <p class="u-center-text">Modern, semantic HTML designed to work on  any screen big or small</p>
                    </div>
                </div>
                <div class="card-skills">
                    <div class="card-skills__icon">
                        <div class="hexagon">
                            <svg class="icon">
                                <use href="/assets/SVG/sprite.svg#icon-intuitive"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="card-skills__content">
                        <h2 class="heading">Intuitive</h2>
                        <p>A focus on making web applications that are accessible through on easy to use & clear UX/UI</p>
                    </div>
                </div>
                <div class="card-skills">
                    <div class="card-skills__icon">
                        <div class="hexagon">
                            <svg class="icon">
                                <use href="/assets/SVG/sprite.svg#icon-quick"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="card-skills__content">
                        <h2 class="heading">Quick</h2>
                        <p>Fast load times to maximize user retention</p>
                    </div>
                </div>
                <div class="card-skills">
                    <div class="card-skills__icon">
                        <div class="hexagon">
                            <svg class="icon">
                                <use href="/assets/SVG/sprite.svg#icon-zoom"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="card-skills__content">
                        <h2 class="heading">Detailed</h2>
                        <p>The same level of focus and consideration goes into components big and small</p>
                    </div>
                </div>
            </aside>
            <div class="about__assessment">
                <div class="about__assessment--container">
                    <div class="about__skill">
                        <p class="about__skill--title">Javascript</p>
                        <div class="about__skill-rating">
                            <p title="js"></p>
                        </div>
                    </div>
                    <div class="about__skill">
                        <p class="about__skill--title">HTML</p>
                        <div class="about__skill-rating">
                            <p title="html"></p>
                        </div>
                    </div>
                    <div class="about__skill">
                        <p class="about__skill--title">CSS/SASS</p>
                        <div class="about__skill-rating">
                            <p title="css"></p>
                        </div>
                    </div>
                    <div class="about__skill">
                        <p class="about__skill--title">React</p>
                        <div class="about__skill-rating">
                            <p title="react"></p>
                        </div>
                    </div>
                    <div class="about__skill">
                        <p class="about__skill--title">Node/Express</p>
                        <div class="about__skill-rating">
                            <p title="node"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__content">
                <h3 class="heading heading__large">Meet the person behind the keyboard.</h3>
                <p>The start of my adult life began with studying pharmacology followed by a shift to pursue my passion for cooking. While that journey winded down I began searching for my next challenge and that search led me to follow my
                    other life long passion for computers and technology. I’ve spent the last 3 years studying and learning to transform this passion into my profession.</p>
                <p>As a Chef I’ve spent over a decade anticipating the needs of customers. That skill, and many others have served me well as I transitioned to web development where I’ve maintained a careful eye for organization and efficency. I take these invaluable skills and apply them to my learning, design and development as I continue to pursue.</p>
                <p>Functioning as a web developer I have a focus on clear and concise UX/UI
                    while maintaining an appealing look. As a crossover from my life as a Chef I’ve become very detail oriented and expend that same level of attention to all aspects to my current work.</p>
                <p>I’m looking to join a professional team to foster my burgeoning expertise and learn under knowledgable guidance.</p>
                <p>I’m excited about having a conversation with you about our future partnership.</p>
            </div>
        </main>
        <section class="projects" id="projects">
            <h3 class="heading heading__large u-color-grey-dark" id="projects-anchor">Projects</h3>
            <p class="sub-heading">Here are some of the projects that I feel demonstrate the scope of my knowledge and skills</p>
        </section>
        <section class="test" id="contact">
            <h3 id="contact-anchor"></h3>
        </section>
    </div>
    <footer>
        FOOTER
    </footer>
<%- include("../partials/footer.ejs") %>